/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{
 
  --font: 'Poppins', sans-serif;


  --color: #9176FF;
  --bg-color: #f4f4f4;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: var(--bg-color);
}


